In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Creating empyty series
d = pd.Series()

In [ ]:
d

In [ ]:
#Creating series with one element
d = pd.Series(17)
d

In [ ]:
#Creating series using tuple
t=(10,11,12)
d=pd.Series(t)
d

In [ ]:
# Creating series using list
d=pd.Series([2,4,5,6,7,80])
d

In [ ]:
type(d)

In [ ]:
## Creating series with array
arr=np.array([3,4,5,6])
d=pd.Series(arr)
d

In [2]:
# Creating series with dictionary
dic1 = {'a':10,'b':20,'c':30}
d=pd.Series(dic1)
d

a    10
b    20
c    30
dtype: int64

In [ ]:
# Array with user defined indexing
arr_2 = np.array([1,2,3])
s_2 = pd.Series(arr_2,index=['one','two','three'])
s_2

In [ ]:
# Checing the datatype
type(s_2)

In [ ]:
# access the data
print(s_2['one'])
print(d['c'])

In [ ]:
## Slicing Operation

In [ ]:
d=pd.Series([1,2,3,4,5,6,7,8,10,20,21,22,23,43])

In [ ]:
d[0:9:2]

In [ ]:
#Mulitple index
d[[1,2,3,11]]

In [ ]:
#Changing the element of the series.
d[3]= 30
d

# DataFrame

In [ ]:
#empty Dataframe
d=pd.DataFrame()

In [ ]:
print(d)

In [3]:
## Using nested list
data = [[1,2,3,4],[11,12,13,'b',14],[10,20,30]]
d=pd.DataFrame(data)
d
#None is getting populated as the respective column ie 4,b has different data type
#column should have same data type

    0   1   2     3     4
0   1   2   3     4   NaN
1  11  12  13     b  14.0
2  10  20  30  None   NaN

In [ ]:
#Changing the column
data = [['abc',1],['def',2],['ghi',3],['hij'],['klm','a']]
d = pd.DataFrame(data)
d

In [ ]:
d = pd.DataFrame(data,columns=['A','B'])

d

In [ ]:
#Changing the index Value
d=pd.DataFrame(data,index=['a','b','c','d','e'])
d

In [ ]:
# dataframe using dictionary
data={'name':['a','b','c','d'],'age':[10,20,30,40]}
d=pd.DataFrame(data)
d

In [ ]:
## Task change the name of columns whiel definining the dataframe
d.rename(columns={'name':'new_name','age':'new_age'},inplace=True)
d
#To make column change permanently using inplace=True
#Inplace=False meaning it will change permanently

In [ ]:
## Accessing the elements from dataframe
data=[['Alex',10,'Maths'],['Bob',12,'Science'],['kelly',15,'Eco'],['Boris',14,'Geo'],['ken',18,'Eng']]
d=pd.DataFrame(data,columns=['name','age','subject'])
d

In [ ]:
#Accessing single element
d['name']

In [ ]:
#Accessing multiple column
d[['name','subject']]

In [ ]:
#iloc
#iloc function only works with indexs
print(d.iloc[:,[0,1,2]])
print('\n')
print(d.iloc[:1,[0,1,2]])
print('\n')
# Access single element we use iloc
print(d.iloc[1,2])

In [ ]:
#loc
#loc alwasy work with name of the column
d.loc[:,['name','subject']]

In [ ]:
# when to populate only row
d.loc[3]

In [ ]:
d.iloc[:,1:3]

In [ ]:
pwd