In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('cereal.csv')
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
x=df.copy()

In [4]:
x.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [6]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [7]:
x=df[['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups']]

In [8]:
y=df['rating']

In [9]:
x_cat_cols=x.select_dtypes(include='object')
x_num_cols=x.select_dtypes(include='number')

In [10]:
x_cat_cols.head()

                        name mfr type
0                  100% Bran   N    C
1          100% Natural Bran   Q    C
2                   All-Bran   K    C
3  All-Bran with Extra Fiber   K    C
4             Almond Delight   R    C

In [11]:
x_num_cols.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33
1,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00
2,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33
3,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75

In [12]:
x_cat_cols=pd.get_dummies(x_cat_cols,dtype=int)
x_cat_cols.head()

,name_100% Bran,name_100% Natural Bran,name_All-Bran,name_All-Bran with Extra Fiber,name_Almond Delight,name_Apple Cinnamon Cheerios,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Bran Flakes,...,name_Wheaties Honey Gold,mfr_A,mfr_G,mfr_K,mfr_N,mfr_P,mfr_Q,mfr_R,type_C,type_H
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [13]:
x=pd.concat([x_cat_cols,x_num_cols],axis=1)

In [14]:
x.head()

,name_100% Bran,name_100% Natural Bran,name_All-Bran,name_All-Bran with Extra Fiber,name_Almond Delight,name_Apple Cinnamon Cheerios,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Bran Flakes,...,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,1,0,0,0,0,0,0,0,0,0,...,1,130,10.0,5.0,6,280,25,3,1.0,0.33
1,0,1,0,0,0,0,0,0,0,0,...,5,15,2.0,8.0,8,135,0,3,1.0,1.00
2,0,0,1,0,0,0,0,0,0,0,...,1,260,9.0,7.0,5,320,25,3,1.0,0.33
3,0,0,0,1,0,0,0,0,0,0,...,0,140,14.0,8.0,0,330,25,3,1.0,0.50
4,0,0,0,0,1,0,0,0,0,0,...,2,200,1.0,14.0,8,-1,25,3,1.0,0.75

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=25)

In [17]:
x_test.shape

(16, 98)

In [18]:
model=LinearRegression(normalize=True)

In [19]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [20]:
test_predictions=model.predict(x_test)

In [21]:
train_predictions=model.predict(x_train)

In [22]:
print("Test Mean Squared Error: ",mean_squared_error(y_test,test_predictions))

Test Mean Squared Error:  21.824320051828742

In [23]:
print("Train Mean Squared Error: ",mean_squared_error(y_train,train_predictions))

Train Mean Squared Error:  3.9748243906349212e-28

In [24]:
print("Test R2 Score: ",r2_score(y_test,test_predictions)*100)

Test R2 Score:  87.61668104234707

In [25]:
print("Train R2 Score: ",r2_score(y_train,train_predictions)*100)

Train R2 Score:  100.0

__Ridge Model__

In [27]:
ridge_model=Ridge(alpha=0.01)
ridge_model.fit(x_train,y_train)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [28]:
rigde_test=ridge_model.predict(x_test)
rigde_train=ridge_model.predict(x_train)

In [33]:
print("Ridge Model MSE of Train: ",mean_squared_error(y_train,rigde_train))

Ridge Model MSE of Train:  1.594476163225041e-06

In [34]:
print("Ridge Model MSE of Test: ",mean_squared_error(y_test,rigde_test))

Ridge Model MSE of Test:  0.0441670942043293

In [36]:
print("Ridge Model Train R^2 value: ",r2_score(y_train,rigde_train)*100)

Ridge Model Train R^2 value:  99.99999920123675

In [37]:
print("Ridge Model Test R^2 value: ",r2_score(y_test,rigde_test)*100)

Ridge Model Test R^2 value:  99.97493918648252

__Lasso Model__

In [38]:
Lasso_model=Lasso(alpha=0.01)
Lasso_model.fit(x_train,y_train)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [39]:
Lasso_test=Lasso_model.predict(x_test)
Lasso_train=Lasso_model.predict(x_train)

In [40]:
print("Lasso Model MSE of Train: ",mean_squared_error(y_train,Lasso_train))

Lasso Model MSE of Train:  0.000703243429916811

In [41]:
print("Lasso Model MSE of Test: ",mean_squared_error(y_test,Lasso_test))

Lasso Model MSE of Test:  0.005994918578415026

In [42]:
print("Lasso Model Train R^2 value: ",r2_score(y_train,Lasso_train)*100)

Lasso Model Train R^2 value:  99.9996477056072

In [43]:
print("Lasso Model Test R^2 value: ",r2_score(y_test,Lasso_test)*100)

Lasso Model Test R^2 value:  99.9965984283265

In [48]:
rigde_test

array([45.12510257, 52.6011845 , 68.27544121, 58.1350463 , 21.91311236,
       32.92435889, 60.89934515, 40.35506887, 36.78589479, 50.82207806,
       38.9889517 , 49.8050975 , 20.15139995, 37.87895807, 28.86076132,
       36.88678257])

In [45]:
y_test

41    45.328074
67    53.131324
0     68.402973
26    58.345141
35    21.871292
6     33.174094
54    60.756112
13    40.400208
38    36.523683
57    50.828392
69    38.839746
74    49.787445
12    19.823573
52    37.840594
37    28.742414
7     37.038562
Name: rating, dtype: float64