In [ ]:
1)Write a Python program to get the Python version you are using

In [ ]:
import sys

def python_version():
    print("Python Version => ",sys.version)
    print("Python version information => ",sys.version_info)
python_version()

In [ ]:
2)Write a Python program to display the current date and time

In [ ]:
from datetime import datetime
def current_time():
    print("Current time :",datetime.now())
    
current_time()

In [ ]:
3) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
import math as mth
def cal_area_circle():
    x = int(input("Area of circle : "))
    y = mth.pi
    area_cir = y*x*x
    print(type(y))
    print("Area of circle : %s" %area_cir)
cal_area_circle()

In [ ]:
4)Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

In [ ]:
x = 5.2 + True + bool(-5) -4 + 42
print(x)
y = 5 + bool(0) + False + int(5.9) + float('1')
print(y)
z = x // y
z

In [ ]:
5)Write code to test whether the given number lies between 1 and 10

In [ ]:
def validate_num():
    x = int(input("Please enter a number : "))
    if x in range(0,11):
        print("Given number %s is lies between 1 and 100" %x)
    else:
        print("Given number %s is not lies between 1 and 100" %x)
validate_num()

In [ ]:
6)sum the numbers from 1 to 20 using for loop

In [ ]:

def sum_num():
    sum = 0 
    for i in range(1,21):
        sum = sum + i
    print("Sum of 1 to 20 is %s" % sum)
sum_num()

In [ ]:
7)Display the numbers in reverse from 100 to 1

In [ ]:
'''
for i in range(100,0,-1):
    print(i)

for i in range(1,101)[::-1]:
    print(i)
    
n = 100
i = 0
while i < n:
    i = i + 1
    print(i)
    
'''

In [ ]:
8)Display the numbers in reverse from 100 to 1

In [ ]:
9)From the below nested dictionary, pick the word "Bangalore". 
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [17]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][-1]['Place'][-1]

'Bangalore'

In [ ]:
10)Use functions to return square of numbers from 2 to 5

In [ ]:
import math as mth
def square_root_num():
    for i in range(2,6):
        sqrt = mth.sqrt(i)
        sqrt = round(sqrt,2)
        print("Square root of %s -> %s" %(i,sqrt))
square_root_num()

In [ ]:
11)Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a 
tuple with those numbers

In [ ]:
def generate_list_tuple_from_usrinput():
    input_num = input("Enter a comma-separted numbers to form list and tuple =>")
    to_list = list(input_num.split(','))
    to_tuple= tuple(to_list)
    #print(type(to_list))
    #print(type(to_tuple))
    print("Input number from user => ", input_num)
    print("Converted to list => ", to_list)
    print("Converted to tuple => ", to_tuple)
generate_list_tuple_from_usrinput()

In [ ]:
12) Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
def first_last_num_from_list():
    color_list = ["Red","Green","White" ,"Black"]
    print("Input list : ",color_list)
    print("First number from list : ",color_list[0])
    print("Last number from list : ",color_list[-1])
first_last_num_from_list()

In [ ]:
13)Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [ ]:
from datetime import date
def find_days_in_dates(dt1,dt2):
    date1 = date
    date2 = date(dt2)
    print(date1)
    print(date2)
   
find_days_in_dates((2014, 7, 2), (2014, 7, 11))

In [ ]:
14)Write a Python program to get the difference between a given number and 17,
if the number is greater than 17 return double the absolute difference

In [16]:
def diff_in_number():
    x = int(input("Enter a number: "))
    #print(type(x))
    if x > 17:
        result = abs(eval('17 - x'))
        result = result*2
        print("Enter number is %s as it is greater than 17 so double of difference is %s" %(x,result))
    else:
        result = eval('17 - x')
        print("Enter number is %s and the difference between 17 is %s" %(x,result))

diff_in_number()

Enter a number: 4
Enter number is 4 and the difference between 17 is 13

In [ ]:
15)To check whather given element exists in list or not??
list=[1,2,3,4,5,6,7,8,9,10]
check if 9 and 12 are present in given list or not

In [31]:
list=[1,2,3,4,5,6,7,8,9,10]
x = int(input("Enter a number : "))
print(x)
#print(type(x))
if x in list:
    print("The given number {} is present in list {}" .format(x,list))
else:
    print("The given number {} is not present in list {}" .format(x,list))

Enter a number : 4
4
The given number 4 is present in list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
list=[1,2,3,4,5,6,7,8,9,10]
if 9 in list and 12 in list:
    print(" 9 and 12 are present in given list")
else:
    print(" 9  and 12 are not present in give list")

 9  and 12 are not present in give list

In [ ]:
16)Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.
And also it must return both addition and subtraction in a single return call

In [39]:
def calculation(x,y):
    num1 = x
    num2 = y
    sum_num = eval('x + y')
    sub_num = eval('x -y')
    return (sum_num,sub_num)

In [40]:
calculation(10,5)

(15, 5)

In [ ]:
17)Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,
and if the salary is missing in function call it should show it as 9000

In [26]:
18) Write a recursive function to calculate the sum of numbers from 0 to 10

SyntaxError: invalid syntax (<ipython-input-26-11424657ce8f>, line 1)

In [48]:
def sum_of_numbers():
    sum=0
    n=10
    i = 0
    for i in 10:
        print(i)
sum_of_numbers()

TypeError: 'int' object is not iterable

In [ ]:
19)Generate a Python list of all the even numbers between 4 to 30

In [44]:
def find_even_num():
    even_list = []
    for i in range(4,31):
        if i%2 == 0:
            even_list.append(i)
    print("List of all the even numbers between 4 to 30  is {}".format(even_list))

find_even_num()

List of all the even numbers between 4 to 30  is [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
20)Return the largest item from the given list

In [24]:
def max_item_from_list():
    x = input("Please enter the list of number separted by comma to find max of it :")
    y = list(x.split(','))
    #print(type(y))
    print("Largest number from the given list {}   => {}" .format(x,max(y)))
    
max_item_from_list()

Please enter the list of number separted by comma to find max of it :12,34,688,2,3
Largest number from the given list 12,34,688,2,3   => 688